table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.title-style {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    color: white;
    background-color: blue;
    border: 2px solid transparent;
    padding: 10px;
}

