table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

thead th {
    background-color: blue;
    color: white;
}

img {
    display: block;
    margin: 0 auto;
}
